[Unit]
Description=Make a snapshot periodically

[Timer]
Unit=auto-snapshot.service
OnStartupSec=30sec
OnCalendar=daily
Persistent=true

[Install]
WantedBy=timers.target
