[Unit]
Description=Make a snapshot on boot

[Service]
Type=oneshot
Environment=DISPLAY=:0
ExecStart=/usr/bin/snapshot

[Install]
WantedBy=auto-snapshot.timer
